

BODY{
  font-family: Menlo, monospace;
  margin: 0;
  padding: 0;
}


TEXTAREA.xml-contents{
  border: none;
  width: 100%;
  height: auto;
  resize: none;

}

.page-title{
  font-size: 14pt;
  font-weight: bold;
}

.request{
  border: solid black 1px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  height: 50px;
  width: 100%;
}

/* Codemirror "Theme" */
.cm-s-xmpp.CodeMirror {
  font-family: Menlo, monospace;
  font-size: 11px;
  height: 100%;
}

#xmpp-stream{
}


.toolbar-wrapper {
  height: 1.5em;
  margin-top: 0;
  position: relative;
}

.toolbar{
  border-bottom: solid 1px #ddd;
  color: #666;
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  width: 100%;
  height: 1.5em;
  z-index: 999;
  padding-left: 10px;
  background-color: rgba(255,255,255,0.4);
  /*box-shadow: 1px 1px 2px #a0a0a0;*/

  cursor: pointer;

  overflow: hidden;

  -webkit-transition-property: width;
  -webkit-transition-duration: 0.15s;

}


#xmpp-inspector-toolbar .button{
  display: inline-block;
  font-size: 8pt;
  border-bottom: solid #f0f0f0 1px;
  padding: 7px 0 5px 5px;
  overflow: hidden;
  white-space: nowrap;
  height: 1.2em;
  line-height: 1.2em;
  background-color: rgba(255,255,255,0.85);

  -webkit-transition-property: background-color, color, height;
  -webkit-transition-duration: 0.15s;
}

#xmpp-inspector-toolbar .button .icon{
  margin-right: 5px;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.30s;
}

#xmpp-inspector-toolbar .button .label{
  margin-right: 10px;
  display: inline-block;
}

#xmpp-inspector-toolbar .button:hover{
  color: rgba( 0, 0, 0, 0.95);
}


#xmpp-inspector-toolbar .button:hover .icon{
  color: rgba( 0, 0, 0, 0.85)
}






