

BODY{
  font-family: Menlo, monospace;
  font-size: 11px;
  margin: 0;
  padding: 0;
}


TEXTAREA.xml-contents{
  border: none;
  width: 100%;
  height: auto;
  resize: none;

}

.hidden {
  display: none !important;
}

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

#xmpp-stream {
  position: absolute;
  top: 2em;
  bottom: 0;
  width: 100%;
}

#xmpp-stream.toolbar-expanded {
  top: 4em;
}

/* Codemirror "Theme" */
.cm-s-xmpp.CodeMirror {
  font-family: Menlo, monospace;
  font-size: 11px;
  height: auto;
  line-height: 1.3em;
}

.cm-s-xmpp.CodeMirror .cm-comment {
  color: #afafaf;
  font-style: italic;
}


.cm-s-xmpp.CodeMirror .cm-searching {
  border: solid 1px rgb(244, 0, 95);
  background: none;
  border-radius: 3px;
}

.searching .CodeMirror-selected  { 
  background-color: rgb(244, 0, 95) !important; 
}

.searching .cm-searching.CodeMirror-selectedtext { color: white; }

.toolbar-wrapper {
  position: relative;
}

.toolbar {
  display: table;
  overflow: hidden;
  background-color: #fff;
  border-bottom: solid 1px #ddd;
  color: #666;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  z-index: 999;
}


.toolbar .main-bar, .toolbar .sub-bar {
  display: table-row;
  float: left;
  clear:both;
  overflow: hidden;
  height: 2em;
}
.toolbar .sub-bar{
  padding: inherit 5px;
}

.toolbar .button, .toolbar form {
  display: table-cell;
  height: 2em;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
}

.toolbar .url-pattern .output:hover{
  color: #006;
}

.toolbar .url-pattern .output:hover{
  color: #006;
}

.toolbar .pattern form {
  display: inline-block;
  position: absolute;
  top: 0;
}

.toolbar .button{
  font-size: 8pt;
  padding: 5px 0 5px 5px;
  white-space: nowrap;
}

.toolbar .button .icon{
  margin-right: 5px;
}

.toolbar .button .label{
  margin-right: 10px;
  display: inline-block;
}

.toolbar .button:hover{
  color: rgba( 0, 0, 0, 0.95);
}


.toolbar .button:hover .icon{
  color: rgba( 0, 0, 0, 0.95)
}






