<div class="container">
  <h2><a href="#" title="Close" class="close"><i class="fa fa-bookmark icon"></i></a>Manage Bookmarks</h2>
  <div class="add-new">
    <a href="#add-new" class="show">Add Stream</a> 
    <form class="new-url-pattern hidden">
      <select class="format">
        <option value="text">text</option>
        <option value="json" selected >JSON</option>
        <option value="xml">XML</option>
      </select>
      <select class="scheme">
        <option value="*" selected>&lt;all&gt;</option>
        <option value="http">http</option>
        <option value="https">https</option>
        <option value="file">file</option>
        <option value="ftp">ftp</option>
        <option value="chrome-extension">chrome-extension</option>
      </select>
      ://
      <input class="host" type="text" value="" placeholder="www.example.com"/>
      /
      <input class="path" type="text" value="" placeholder="path/to/endpoint/"/>
      <button type="submit">Go</button>
    </form>
  </div>
  <ol id="stream-manager-list"></ol>
</div>