	<form>
		<textarea id="dataStream" name="dataStream">
    <!-- 09:32:38 GMT-0400 (EDT) request sent >>>>>>>>>>>> -->
<data>This is my POST data</data>

<!-- <<<<<<<<<<<< 09:32:38 GMT-0400 (EDT) response received -->
<stream>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
    <sample key="value">content</sample>
</stream>
      
    </textarea>
	</form>
