<div class="toolbar" id="xmpp-inspector-toolbar">
  <div class="main-bar clearfix">
    <div class="button page streams" data-button-id="streams">
      <i class="fa fa-random icon"></i><div class="label">Streams</div>
    </div>    
    <div class="button page url-pattern" data-button-id="url-pattern">
      <i class="fa fa-bookmark icon"></i><div class="label">Bookmarks </div>
    </div>    
    <div class="divider"></div>
    <div class="button action clear" data-button-id="clear">            
      <i class="fa fa-ban icon"></i><div class="label">Clear</div>
    </div>
    <div class="button action copy" data-button-id="copy">            
      <i class="fa fa-copy icon"></i><div class="label">Copy</div>
    </div>
    <div class="button action find" data-button-id="find">            
      <i class="fa fa-search icon"></i>
      <span class="search">
        <form>
          <input id="searchInput" type="text" value="" placeholder="Search for:" />
          <button type="submit">Find</button>
        </form>
      </span>
    </div>

    <div class="button action plugins" data-button-id="plug-ins">            
      <i class="fa fa-plug icon"></i><div class="label">Plug Ins</div>
    </div>
  </div>
  
</div>
