<div class="toolbar" id="xmpp-inspector-toolbar">
  <div class="main-bar clearfix">
    <div class="button clear" data-button-id="clear">            
      <i class="fa fa-eraser icon"></i><div class="label">Clear</div>
    </div>
    <div class="button copy" data-button-id="copy">            
      <i class="fa fa-copy icon"></i><div class="label">Copy</div>
    </div>
    <div class="button find" data-button-id="find">            
      <i class="fa fa-search icon"></i><div class="label">Find</div>
    </div>
    <div class="button streams" data-button-id="streams">            
      <i class="fa fa-random icon"></i><div class="label">Streams<span id="stream-count" class="badge count"></span></div>
    </div>

    <div class="button url-pattern" data-button-id="url-pattern">
      <i class="fa fa-link icon"></i><div class="label">URL: 
        <span class="pattern">
          <span class="output"><%= filter.scheme %>://<%= filter.host %>/<%= filter.path %></span>
        </span>
      </div>
    </div>
      <form class="update-url-pattern hidden">
        <select class="scheme">
          <option <% if(filter.scheme === "*") {%>selected <%} %> value="*">&lt;all&gt;</option>
          <option <% if(filter.scheme === "http") {%>selected <%} %> value="http">http</option>
          <option <% if(filter.scheme === "https") {%>selected <%} %> value="https">https</option>
          <option <% if(filter.scheme === "file") {%>selected <%} %> value="file">file</option>
          <option <% if(filter.scheme === "ftp") {%>selected <%} %> value="ftp">ftp</option>
          <option <% if(filter.scheme === "chrome-extension") {%>selected <%} %> value="chrome-extension">chrome-extension</option>
        </select>
        ://
        <input class="host" type="text" value="<%= filter.host %>"/>
        /
        <input class="path" type="text" value="<%= filter.path %>"/>
        <button type="submit">Go</button>
      </form>
    
  </div>
  
  <div class="sub-bar hidden">
    <div class="search">
      <form>
        <input id="searchInput" type="text" value="" placeholder="Search for:" />
        <button class="cancel" type="reset">Cancel</button>
      </form>
    </div>
  </div>
  
</div>
